.message {
    background-color: #01143e;
    padding: 40px 15px;
}

.message .message-text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.message .message-text h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 35px;
}
